@import './_global';

.header {
  &__top {
    height: 45px;
    background: #CED3CA;
    &-p {
      font-size: 14px;
      line-height: 20px;
      margin-right: 16px;
    }
    &-link {
      font-size: 12px;
      line-height: 28px;
    }
  }
  &__bottom {
    background: #fff;
    height: 115px;
  }
  &__nav {
    height: 100%;
    &-item {
      &:nth-child(1) {
        .header__list {
          padding-right: 10px;
          margin-left: 66px;
          &-item {
            &:not(:last-child) {
              margin-right: 32px;
            }
          }
          &-link {
            color: #292929;
            line-height: 20px;
          }
        }
      }
      &:nth-child(2) {
        .header__list {
          padding-left: 10px;
          &-item {
            &:not(:last-child) {
              margin-right: 30px;
            }
          }
          &-link {
            color: #292929;
            &:first-child {
              margin-right: 26px;
              padding-right: 26px;
              border-right: 1px solid #1A1A1A;
            }
          }
        }
      }
    }
  }
}

.welcome {
  min-height: 600px;
  background-image: url(../images/welcome.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 30px 0;
  &__title {
    font-size: 18px;
    line-height: 28px;
  }
  &__link {
    color: #fff;
    font-size: 15px;
    line-height: 22px;
    border-bottom: 1px solid #fff;
    padding-bottom: 1px;
  }
}

.products {
  padding: 40px 0 172px;
  background: #fff;
  &__header {
    margin-bottom: 50px;
    &-list-item {
      font-size: 17px;
      color: #B3B3B3;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 48px;
      }
    }
  }
  &__list-item {
    max-width: 275px;
    min-height: 420px;
    padding: 10px 0;
    &-img {
      margin-bottom: 11px;
    }
    &-title {
      font-size: 15px;
      line-height: 18px;
      color: #1A1A1A;
      margin-bottom: 6px;
    }
    &-p {
      font-size: 13px;
      line-height: 13px;
      color: #1A1A1A;
    }
    &-new-price {
      color: #FF3451;
    }
    &-additional-title {
      color: #A8A8A8;
    }
  }
  &__alert-message {
    font-size: 25px;
    text-align: center;
    display: none;
  }
  &__link {
    max-width: max-content;
    min-width: 302px;
    margin: 65px auto 0;
    height: 56px;
    font-size: 20px;
    line-height: 56px;
  }
}

.sale {
  background: #CED3CA;
  padding: 127px 0;
  &__poster {
    background: #F7F7F7;
  }
  &__text {
    padding: 93px 125px;
    &--p95 {
      padding: 95px;
    }
  }
  &__desc {
    font-size: 15px;
    line-height: 21px;
    color: #1A1A1A;
    margin-bottom: 35px;
  }
  &__title {
    font-size: 38px;
    line-height: 46px;
    color: #1A1A1A;
    max-width: 208px;
    margin-bottom: 33px;
  }
  &__link {
    font-size: 14px;
    line-height: 21px;
    color: #1A1A1A;
    border-bottom: 1px solid #1A1A1A;
    padding-bottom: 1px;
  }
  &__img--background {
    background: url('../images/table.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &__poster {
    &--grid {
      display: grid;
      grid-template-columns: .5fr 1fr;
    }
  }
}

.desc {
  padding: 113px 0 147px;
  &__title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #1A1A1A;
    margin-bottom: 92px;
  }
  &__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 103px 116px;
    &-item {
      &:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
      }
      &:nth-child(2) {
        grid-column-start: 3;
        grid-column-end: 5;
      }
      &:nth-child(3) {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 5;
      }
    }
  }
  &__product-link {
    color: #1A1A1A;
    border-bottom: 1px solid #1A1A1A;
    padding-bottom: 1px;
    display: block;
    width: max-content;
    margin-top: 7px;
    line-height: 24px;
  }
}

.story {
  background-image: url('../images/story-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  color: #fff;
  &__desc {
    font-size: 35px;
    line-height: 54px;
    text-align: center;
  }
  &__link {
    color: #FFFFFF;
    font-size: 15px;
    line-height: 22px;
    border-bottom: 1px solid #fff;
    padding-bottom: 1px;
  }
}

.contact {
  background: #CED3CA;
  height: 443px;
  &__text {
    color: #1A1A1A;
    text-align: center;
    max-width: 420px;
  }
  &__title {
    font-size: 34px;
    line-height: 41px;
  }
  &__desc {
    margin: 19px 0 56px;
    line-height: 22px;
  }
  &__form {
    display: grid;
    grid-template-columns: 1fr .2fr;
    grid-template-rows: 48px;
    position: relative;
    &-email {
      background: #fff;
      border: 1px solid #242424;
      color: rgba(26, 26, 26, .5);
      line-height: 22px;
      padding: 11px 45px 11px 18px;
    }
    &-submit {
      border: 1px solid #242424;
      cursor: pointer;
      background: #FFFFFF;
    }
    &-invalid,
    &-valid {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      right: 85px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      display: none;
    }
    &-invalid {
      background: crimson;
    }
    &-valid {
      background: darkcyan;
    }
  }
}

.footer {
  background: #F7F7F7;
  padding: 84px 0 104px;
  color: #1A1A1A;
  &__block {
    width: 35%;
    &-top {
      margin-bottom: 36px;
      &-item {
        &:first-child {
          margin-right: 25px;
          text-align: right;
        }
      }
    }
    &-title {
      margin-bottom: 9px;
    }
    &-desc {
      max-width: 233px;
    }
    &-title,
    &-desc {
      font-size: 15px;
      line-height: 21px;
    }
  }
  &__list {
    &-item {
      font-size: 15px;
      line-height: 18px;
      &:not(:last-child) {
        margin-bottom: 14px;
      }
    }
    &-link {
      color: #1A1A1A;
    }
  }
  &__icons-item {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}

.active-filter {
  color: #1A1A1A;
  padding-bottom: 5px;
  border-bottom: 1px solid #1A1A1A;
}

.old-price {
  color: #808080;
}